@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*{
  font-family: 'Lobster', cursive;
}

html, body {
  margin: 0;
  padding: 0;
 
}
canvas {
  display: block;
  background-image: linear-gradient(to top, rgb(2,140,238), rgb(80,255,200));
}
